streamlit==1.61.1
python-dotenv==1.2.2

opencv-python-headless==4.10.0.84
pillow==11.0.0

ultralytics==8.3.181

paddlepaddle==3.0.0
paddleocr==3.0.3
paddlex==3.0.3

torch==2.5.1
torchvision==0.20.1
transformers==4.46.3

numpy==1.26.4
scikit-learn==1.9.0

groq==1.6.0